body{
    font-family: 'Nunito';
}

#sidebar{
    position: fixed;
    margin-left: 75%;
    width: 24%;
    height: 400px;

    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
    background-color:#f9f9f9;
}

#current-user{
    height: 20%;
    background-color: #7377bf;
    color: #fff;
    font-size: larger;
}

#current-user-message{
    padding: 25 0 25 25;
}

#active-users {
    padding: 10 0 25 25;
}

#active-users ul{
    list-style: none;
    padding-left: 0;
}
#active-users ul li{
    padding: 10px;
}

#active-users h1{
    font-size: medium;
    color: grey;
}

.dot{
    height: 10px;
    width: 10px;
    background-color: #87db74;
    border-radius: 50%;
    display: inline-block;
}

#chat{
    width: 75%;

    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
}

#chat-window{
    height: 400px;
    overflow: auto;
    background: #f9f9f9;
}

#feedback p{
    color: #aaa;
    /* shared padding between chat-container and new-user */
    padding-left: 10px;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

button{
    background: #575ed8;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}

/* Chat containers */
.chat-container {
    border: 2px solid;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.lighter {
    border-color: #dedede;
    background-color: #f1f1f1;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.chat-container::after {
    content: "";
    clear: both;
    display: table;
}

.chat-container span {
    padding-right: 5px;
}

.chat-username{
    font-size: larger;
    font-weight: bolder;
    color: #575ed8;
}

.chat-datestamp {
    font-size: smaller;
    font-weight: lighter;
    color: darkgrey;
}

.chat-new-user {
    padding-left: 10px;
}

/* .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
} */

/* .time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
} */
